 html{
    scroll-behavior:smooth;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
}
/**{font-family: 'Dancing Script', cursive; font-family: 'Kaushan Script', cursive;} */
/* navbar styling */
.navbar{
    position: fixed!important;
    z-index: 9998;
    width: 100%;
    background-color: blueviolet;
}
#navbarSupportedContent{
    padding: 0 0px;
    margin-left: 18vw;
    justify-content: end;
}
.navbar .max-width{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}
.navbar .menu a{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a:hover{
    text-decoration: none;
}
.navbar .menu .nav-item a{
    color: white;
    font-size: 16px;
    margin: 10px;
    padding: 4px;
    border-radius: 3px;
}
.navbar .menu li a:hover{
    color: rgb(247, 236, 92)!important;
    background-color: blue;
    text-decoration: none;
}

/* Befor Next Header */


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  } */
  
  a {
    color: #149ddd;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  /* h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  } */
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: 0.2s ease-in-out;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: fixed;
    top: 78px;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9999;
    transition: all 0.5s;
    padding: 0 15px;
    background:linear-gradient(to bottom, blueviolet,black,black);
    overflow-y: auto;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 6px solid lawngreen;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: 'Kaushan Script', cursive;
  }
  
  #header .profile h1 a,
  #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 25px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 6px 0;
    margin: 4px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }
  
  #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
  
  #main {
    margin-left: 300px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    #main {
      margin-left: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu {
    padding-top: 5px;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 5px;
    margin-bottom: 4px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: white;
  }
  
  .nav-menu a:hover,
  .nav-menu .active > a, 
  .nav-menu li:hover > a {
    text-decoration: none;
    color: #04adfc;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active > a i,
  .nav-menu li:hover > a i {
    color: #04adfc;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none!important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color:cyan;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../image/Bk.jpg") top center;
    background-size: cover;
  }
  
  #hero:before {
    content: "";
    background: rgba(3, 18, 37, 0.3);
    position: absolute;
    bottom: 0;
    top: 78px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #hero .hero-container{
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 50px 0 30px 0;
    overflow: hidden;
  }
  .section-bg {
    background: #d1def5;
  }
  .section-bgideal {
    background: #fcb6f2;
  }
  .section-bgabout {
    background: #fdd5f7;
  }
  .section-bg1 {
    background: #d8b9f5;
  }
  .section-bgru{   
    background: rgb(239, 175, 245);
  }
  .section-bgr{   
    background: rgb(239, 175, 245);
  }
  .section-bgs{ 
    background: rgb(247, 235, 168);
  }
  .section-bgcontact{   
    background: rgb(243, 206, 247);
  }
  .section-bgart{
    background: #8ef7bf;
  }
  .section-bgaddress{
    background: #eef5b1;
  }
  .section-title {
    padding-bottom: 10px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    color: #173b6c;
  }
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  .section-title p {
    margin-bottom: 0;
  }

   /*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.section-bgru{
  margin-top: 3px;
  padding: 5px 0 30px 0;
  font-weight: bold;
  color: #173b6c; 
  border-bottom: 3px solid cyan;
}

  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
} 
.about .content ul {
    list-style: none;
    padding: 0;
}  
.about .content ul li {
  padding-bottom: 10px;
} 
.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: blue;
} 
.about .content p:last-child {
    margin-bottom: 0;
}

/* School Section */

.school img{
    margin: 6px 0 4px 5px;
    padding: 0;
}
.school figcaption{
    font-size: small;
    font-style: italic;
}
.school .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
#schools{
  margin-top: 4px;
}
.resume #res-height{
  height: 250px;
  overflow-y: scroll;
}
@media(min-width:920px){
  .resume #res-height img{
    width: 1050px;
    height: 1200px;
  }
}
.resume figcaption{
  font-size: 20px;
  font-style: italic;
  margin-left: 1vw!important;
}

/*--------------------------------------------------------------
# graduation
--------------------------------------------------------------*/
#graduation img{
  width: 300px;
  height: 200px;
}
/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #cfe2fc;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #149ddd;
}
.skills {
  margin: 4px 0;
}

/*--------------------------------------------------------------
# projects
--------------------------------------------------------------*/
.projects .projects-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.projects .projects-item .projects-img {
  width: 150px;
  border-radius: 5%;
  margin: 0 auto;
}

.projects .projects-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: blue;
}

.projects .projects-item h4{
  font-size: 14px;
  color: rgb(58, 58, 58);
  margin: 0;
}

.projects .projects-item .quote-icon-left, .projects .projects-item .quote-icon-right {
  color: #5fc1f1;
  font-size: 24px;
}

.projects .projects-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.projects .projects-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  /* top: 15px; */
  position: relative;
}

.projects .projects-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 6px 15px rgba(81, 13, 95, 0.863);
}

.projects .projects-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.projects .owl-nav, .projects .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.projects .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.projects .owl-dot.active {
  background-color: #149ddd !important;
}
.projects {
  margin: 4px 0px;
}
/* @media (max-width: 767px) {
  .projects {
    margin: 5px 0px;
  }
} */

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #149ddd;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #149ddd;
  text-decoration: none;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
.services {
  margin: 4px 0px;
  background: rgb(253, 228, 207);
}















/*--------------------------------------------------------------
# ideals
--------------------------------------------------------------*/
.ideals .ideals-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.ideals .ideals-item .ideals-img {
  height:100px; 
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.ideals .ideals-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: blue;
}

.ideals .ideals-item h4{
  font-size: 14px;
  color: rgb(58, 58, 58);
  margin: 0;
}

.ideals .ideals-item .quote-icon-left, .ideals .ideals-item .quote-icon-right {
  color: #5fc1f1;
  font-size: 24px;
}

.ideals .ideals-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.ideals .ideals-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  /* top: 15px; */
  position: relative;
}

.ideals .ideals-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 6px 15px rgba(81, 13, 95, 0.863);
}

.ideals .ideals-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.ideals .owl-nav, .ideals .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.ideals .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.ideals .owl-dot.active {
  background-color: #149ddd !important;
}
.ideals {
  margin: 4px 0px;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 40px;
}

.contact .info {
  padding: 30px;
  background: white;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# address
--------------------------------------------------------------*/
.address i {
  margin:1px 10px 10px 0;
  font-size:20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.address .add:hover i{
  color: white;
  background: #149ddd;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 10px;
  color: #f4f6fd;
  font-size: 15px;
  background-color: rgb(122, 33, 206);
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}